<div class="skill-property">
  <span class="skill-property_name">
    <span class="skill-property_fullness"></span>
    Mystery 1/4</span>
  <div class="skill-property_wrap">
    <span class="skill-property_description">Engine repair time</span>
    <span class="skill-property_divider"></span>
    <span class="skill-property_percentage">-2.5%</span>
  </div>
</div>
<div class="skill-property">
  <span class="skill-property_name">
    <span class="skill-property_fullness"></span>
    Upgrade on legendary rank 2</span>
  <div class="skill-property_wrap">
    <span class="skill-property_description">Engine repair time</span>
    <span class="skill-property_divider"></span>
    <span class="skill-property_percentage">-5%</span>
  </div>
</div>
